<?xml version="1.0"?>
<config>
    <modules>
        <BluePay_CreditCard>
            <version>0.1.0</version>
        </BluePay_CreditCard>
    </modules>
    <global>
        <blocks>
            <creditcard>
                <class>BluePay_CreditCard_Block</class>
            </creditcard>          
        </blocks>
        <helpers>
            <creditcard>
                <class>BluePay_CreditCard_Helper</class>
            </creditcard>
        </helpers>
        <models>
            <creditcard>
                <class>BluePay_CreditCard_Model</class>
                <resourceModel>creditcard_mysql4</resourceModel>
            </creditcard>
            <creditcard_mysql4>
                <class>BluePay_CreditCard_Model_Mysql4</class>
                <entities>
                    <ccpayment_debug><table>creditcard_ccpayment_debug</table></ccpayment_debug>
                </entities>
            </creditcard_mysql4>
        </models>
        <resources>
            <creditcard_setup>
                <setup>
                    <module>BluePay_CreditCard</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </creditcard_setup>
            <creditcard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </creditcard_write>
            <creditcard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </creditcard_read>
        </resources>
    </global>
    
    <adminhtml>
        <translate>
            <modules>
                <BluePay_CreditCard>
                    <files>
                        <default>BluePay_CreditCard.csv</default>
                    </files>
                </BluePay_CreditCard>
            </modules>
        </translate>
    </adminhtml>
    
    <frontend>
        <translate>
            <modules>
                <BluePay_CreditCard>
                    <files>
                        <default>BluePay_CreditCard.csv</default>
                    </files>
                </BluePay_CreditCard>
            </modules>
        </translate>
	<routers>
            <creditcard>
                <use>standard</use>
                <args>
                    <module>BluePay_CreditCard</module>
                    <frontName>creditcard</frontName>
                </args>
            </creditcard>
        </routers>
        <layout>
            <updates>
                <creditcard>
                    <file>bluepay.xml</file>
                </creditcard>
            </updates>
        </layout>
    </frontend>
    
    <default>
        <payment>
            <ccpayment>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <cgi_url>https://secure.bluepay.com/interfaces/bp10emu</cgi_url>
                <debug>0</debug>
                <login backend_model="adminhtml/system_config_backend_encrypted"/>
                <model>creditcard/CCPayment</model>
                <order_status>1</order_status>
                <payment_action>AUTH</payment_action>
                <test>1</test>
                <title>Credit Card</title>
		<useccv>1</useccv>
		<usecvv_backend>0</usecvv_backend>
                <trans_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <allowspecific>0</allowspecific>
                <currency>USD</currency>
		<duplicate_check>0</duplicate_check>
		<use_iframe>0</use_iframe>
            </ccpayment>
        </payment>
    </default>
</config>

